<!DOCTYPE html>
<html lang="ru">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Content</title>

</head>
<body>
<a th:href="@{/umg/all}">Список УМГ</a><br>
<a th:href="@{/office/all}">Список служб</a><br>
<a th:href="@{/grs/all}">Список ГРС</a><br>
<a th:href="@{/instrument/all}">Список измерительных приборов</a><br>
<a th:href="@{/criteria/all}">Список критерий</a><br>
<a th:href="@{/report/all}">Список протоколов</a><br>
<a th:href="@{/report/new}">Создать новый протокол</a><br>

<a th:href="@{/condition/all}">Список условий</a><br>
<a th:href="@{/client/all}">Список заказчиков</a><br>
<a th:href="@{/person/all}">Список сотрудников</a><br>
<a th:href="@{/result/all}">Список результатов</a><br>







</body>
</html>