<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Tabbed Navigation</title>
    <!--  <link rel="stylesheet" href="css/style.css">-->
    <link href="../static/css/style2.css" th:href="@{/css/style2.css}" rel="stylesheet"/>

    <!--  [if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>


<div th:fragment="content">

    <section class="about">
<!--        <p class="about-links">-->
<!--            <a href="http://www.cssflow.com/snippets/tabbed-navigation" target="_parent">View Article</a>-->
<!--            <a href="http://www.cssflow.com/snippets/tabbed-navigation.zip" target="_parent">Download</a>-->
<!--        </p>-->
        <p class="about-author">
            &copy; 2023&ndash;2024 <a href="http://thibaut.me" target="_blank">Thibaut Courouble</a> -
            <a href="http://www.cssflow.com/mit-license" target="_blank">MIT License</a><br>
            Original PSD by <a href="http://www.premiumpixels.com/freebies/simple-tabbed-navigation-psd/"
                               target="_blank">Orman Clark</a>
        </p>
    </section>
</div>

</body>
</html>

